{% extends "base.html" %}
{% block head %}
  <title>{{ about.title|striptags }}</title>

  <meta name="keywords"
        content="Motoma, programming, hacking, python, linux" />
  <meta name="description"
        content="{{ about.data|striptags }}" />
{% endblock %}
{% block nav %}
    <ul>
      <li class="current">
        <a href="/about/" title="Learn more about me" class="current">About</a>
      </li>

      <li class="link">
        <a href="/" title="Goto the blog" class="link">Blog</a>
      </li>
    </ul>
{% endblock %}
{% block content %}
    <article class="vcard">
      <h3>{{ about.title }}</h3>
      {{ about.data|safe }}
    </article>
{% endblock %}
