{% extends "base.html" %}
{% block head %}
  <title>Motoma.io &raquo;
    {% if tag_page %} posts tagged as {{ tag_page }}
    {% else %} Blog{% endif %}
  </title>

  <meta name="keywords"
        content="Motoma, programming, hacking, python, linux" />
  <meta name="description"
        content="A topical web log about computers, programming, and life in
		 the digital age." />
{% endblock %}
{% block content %}
{% for post in posts %}
    <article class="hentry">
      <h3>
        <a href="/{{ post.url }}/" class="entry-title">{{ post.title }}</a>
      </h3>
      <p class="byline author vcard instapaper_ignore entry-unrelated">
        <time class="published updated" datetime="{{ post.date }}">
          {{ post.date }}</time> by
        <a href="http://motoma.io/about/" rel="author" class="fn nickname"
	   lang="en">{{ post.author }}</a>
	{%- if post.tags %}, tagged as
        {% for tag in post.tags %}
        <a href="/tags/{{ tag.replace(' ', '-').lower() }}" rel="tag">
	  {{ tag }}</a>
        {% endfor %}
	{% endif %}
      </p>
      {{ post.data.split('<!-- break -->')[0]|safe }}
    </article>
{% endfor %}

{% if tag_page and current_page == 0 %}
    <div class="page">
      <div class="nav_older">
        {% if current_page < last_page %}
        <a href="{{ current_page + 1 }}/">Older &laquo;</a>
        {% endif %}
      </div>
    </div>
{% else %}
    <div class="page">
      <div class="nav_older">
        {% if current_page < last_page %}
        <a href="../{{ current_page + 1 }}/">Older &laquo;</a>
        {% endif %}
      </div>

      <div class="nav_newer">
        {% if current_page > 1 %}
        <a href="../{{ current_page - 1 }}/">Newer &raquo;</a>
        {% elif current_page == 1 %}
        <a href="../">Newer &raquo;</a>
        {% endif %}
      </div>
    </div>
{% endif %}
{% endblock %}
